body, html {
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-seri;
} 

h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    border-bottom:5px solid #4B0082;
    color: #00FFEA;
    font-family: 'Unica One', sans-serif;
    font-size: 50px;
}

/* NAV STYLES*/
nav a{
    display: inline-block;
    text-decoration: none;
    color: #4B0082;
    background-color: #5CFF5C;
    opacity: 0.9;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 50px;
}
nav ul{
    list-style: none;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li{
    margin: 0 10px;
    padding-bottom: 50px;

}

/* HERO BANNER */
#heroBanner {
    background-image: url("Images/herobanner.jpeg");
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 100%;
} 


#theoriesBanner{
    background-image: url(Images/theoriesBanner.png);
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 100%;
}

.heroContent h2, .theoriesContent h2 {
    text-align: center;
    font-size: 45px;
}

.heroContent, .theoriesContent {
    text-align: center;
}

.heroContent .cta-button, .theoriesContent .cta-button {
    display: inline-block;
    text-decoration: none;
    align-items: center;
    color: #4B0082;
    background-color: #5CFF5C;
    border-radius: 8px;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}

#moonLand img{
    width: 400px;
    padding-left: 10px;
}

.responsive-video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

section {
    margin-bottom: 50px;
}


/* CARD STYLES*/
#conspiracyTheories {
    padding: 2rem;
    background-color: #4B0082;
    font-family: Arial, Helvetica, sans-serif;
}

#conspiracyTheories h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 30px;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-top: 2rem;
}

.card{
    background-color: #5cff5c;
    color: #000;
    padding: 1.5rem;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 0 15px #ff206e;
}

.card h3 {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.card p {
    font-size: 0.95rem;
    line-height: 1.4;
}

footer{
    text-align: center;
}

#mediaBanner {
    text-align: center;
}

#mediaBanner p{
    font-size: 18px;
    padding: 30px;
}

#mediaBanner .cta-button{
    display: inline-block;
    text-decoration: none;
    color: #4B0082;
    background-color: #5CFF5C;
    border-radius: 8px;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    font-weight: bold;
}

#unexplainedPhotos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

#unexplainedPhotos img {
    width: 100%;
    height: 450px;
    border-radius: 5px;
    margin: 0 auto 0.5rem;
    display: block;
}

#mediaBanner h2, #media h2 {
    text-align: center;
    font-size: 30px;
}

#media h3, #media p{
    text-align: center;
}

#media p{
    text-align: center;
    color: #4B0082;
    background-color: #5CFF5C;
    border-radius: 5px;
    box-shadow: 0 0 15px #ff206e;
    transition: transform 0.3s ease;
}
